# Ignore everything in RHINO by default
RHINO/**

# Allow RHINO directory itself
!RHINO/

# Allow scripts directory
!RHINO/scripts/

# Allow ONLY python scripts in scripts
!RHINO/scripts/*.py

# Python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# Editor / OS
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/

# Generated/local files
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store

# Local/untracked working folders
Laser/
remote/
